@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --color-white: #fff;
  --color-background: #FCFCFF;
  --box-shadow: 0 2rem 3rem var(--color-light);

}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;

}

html {
  font-size: 14px;
}

body {
  width: 100vw;
  height: 10vh;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.88rem;
  background-color: var(--color-background);
  user-select: none;
  overflow-x: hidden;
}

.container {
  height: 100vh;
  display: flex;


}

.sidebar {
  height: 100%;
  width: 248px;
  background-color: var(--color-white);
  border-right: 1px solid #EDF3FA;
  margin-bottom: -101%;
  padding-bottom: 101%;


}

.sidebar .top .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 51px;
}

.sidebar .top .logo .img {
  margin-right: 10px;
}

.sidebar .top .logo .gnd {
  font-size: 17.8px;
  line-height: 23px;
  font-weight: 700;
  color: #173076;
}

.sidebar .menu {
  margin-top: 80px;
  background-color: var(--color-white);
  border-right: 1px solid #EDF3FA;

}

.sidebar .menu .list a {
  display: flex;
  align-items: center;
  padding-left: 17px;
  padding-bottom: 25px;
  position: relative;
}

.sidebar .menu .list a::before {
  content: "";
  width: 2.97px;
  height: 31px;
  position: absolute;
  background-color: #4F46BA;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  opacity: 0;
  left: 0;
}

.sidebar .menu .list a:hover::before {
  opacity: 1;
}




.sidebar .menu .list a .distance {
  margin-right: 15px;
}

.sidebar .menu .list a .title {
  font-size: 13.84px;
  color: #1B1C31;
  font-weight: 600;
  letter-spacing: -0.197779px;
  font-style: normal;
  line-height: 24px;
  transform: matrix(1, 0.01, 0, 1, 0, 0);
  opacity: 0.4;
}


.sidebar .menu .bottom .teams {
  margin-bottom: 20px;
  color: #51459E;
  font-weight: 700;
  font-size: 11.8668px;
  line-height: 20px;
  padding-left: 17px;
}

.container .content {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-left: 75px;
  margin-right: 40px;
}

.container .content .header {
  width: 100%;
  height: 40px;
  margin-top: 63px;
  margin-right: 60px;
  margin-bottom: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .content .header .left-header {
  display: flex;
  width: 100%;

}

.container .content .header .right-header {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;




}

.container .content .header .right-header .icons {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  width: 47px;
  height: 47px;
  background: #FEFEFF;
  box-shadow: 0px 98.8896px 79.1117px rgba(41, 72, 152, 0.05), 0px 64.0951px 46.3316px rgba(41, 72, 152, 0.037963), 0px 38.0908px 25.1985px rgba(41, 72, 152, 0.0303704), 0px 19.7779px 12.8556px rgba(41, 72, 152, 0.025), 0px 8.05767px 6.44614px rgba(41, 72, 152, 0.0196296), 0px 1.83129px 3.11319px rgba(41, 72, 152, 0.012037);
  border-radius: 9.88896px;
  transform: matrix(1, 0.01, 0, 1, 0, 0);

}

.container .content .header .right-header .icons .profil {
  width: 41px;
  height: 41px;
  border-radius: 9.88896px;
}

.container .content .header .right-header .size {
  width: 41px;
  height: 41px;

}

ul {
  width: 100%;
  display: flex;

}

li {
  width: 100%;
}

li a {
  font-style: normal;
  font-weight: 400;
  font-size: 13.8445px;
  border: 0;
  color: #173076;
  line-height: 18px;
  padding: 5px;
}

li a:hover {
  border-bottom: 2px solid #356AF0;
  padding-bottom: 2px;
}

aside {
  width: 100%;
  height: 100vh;
}

.top-content {
  width: 100%;
  display: flex;

}

.top-content .my-wallet {
  width: 50%;
}

.top-content .my-wallet .block-1 {
  background-color: white;
  border: 1px solid #E2E2E2;
  width: 88px;
  height: 263px;

  text-align: center;
  box-sizing: border-box;
  box-shadow: 0px 120.798px 96.6385px rgba(0, 0, 0, 0.01), 0px 78.295px 56.5961px rgba(0, 0, 0, 0.00759259), 0px 46.5296px 30.7811px rgba(0, 0, 0, 0.00607407), 0px 24.1596px 15.7037px rgba(0, 0, 0, 0.005), 0px 9.84281px 7.87424px rgba(0, 0, 0, 0.00392593), 0px 2.237px 3.8029px rgba(0, 0, 0, 0.00240741);
  border-radius: 60.399px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


}

.top-content .my-wallet .title {
  font-style: normal;
  font-weight: 700;
  font-size: 24.1852px;
  margin-bottom: 50px;
  line-height: 31px;
  color: #3B3B3B;
  display: flex;
  justify-content: space-between;
}

.top-content .my-wallet .block-1 .text {
  font-size: 13.7849px;
  line-height: 16px;
  text-align: right;
  margin-top: 65px;


  color: #0B1018;

  transform: rotate(-90deg);
}

.top-content .my-wallet .block-1 .bottom-value {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;



}

.top-content .my-wallet .blocks {
  display: flex;
  justify-content: space-between;

}

.top-content .my-wallet .block-1 .bottom-value .value {
  margin-bottom: 10px;
  font-size: 24.1596px;
  margin-right: 2px;



  /* black */

  color: #0B1018;

}

.top-content .my-wallet .block-1 .bottom-value .yuzde {
  font-size: 9.1899px;
  height: 14px;


  /* black */

  color: #0B1018;
}

.top-content .wallet {
  width: 481px;
  display: flex;
  flex-direction: column;
  margin-bottom: 3px;
  margin-right: 65px;


}

.top-content .wallet .in-out-come {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
  margin-bottom: 50px;
}

.top-content .wallet .in-out-come .out-come {

  width: 216.57px;
  height: 82.08px;
  left: 319.39px;
  top: 246.46px;
  display: flex;
  align-items: center;

  padding: 20px;

  background: #FFFFFF;
  box-shadow: 0px 109.933px 87.9462px rgba(229, 229, 245, 0.25), 0px 71.2527px 51.5055px rgba(229, 229, 245, 0.189815), 0px 42.3445px 28.0125px rgba(229, 229, 245, 0.151852), 0px 21.9866px 14.2913px rgba(229, 229, 245, 0.125), 0px 8.95749px 7.16599px rgba(229, 229, 245, 0.0981481), 0px 2.03579px 3.46085px rgba(229, 229, 245, 0.0601852);
  border-radius: 13.1919px;
  transform: matrix(1, 0.01, 0, 1, 0, 0);
}

.top-content .wallet .in-out-come .out-come .photo {
  margin-right: 15px;
}

.top-content .wallet .in-out-come .out-come .info .text {
  font-style: normal;
  font-weight: 400;
  font-size: 12.6794px;
  line-height: 16px;
  margin-bottom: 2px;

  /* icons and body text color */

  color: #B0BCD0;
}

.top-content .wallet .in-out-come .out-come .info .price {
  font-style: normal;
  font-weight: 400;
  font-size: 14.4907px;
  line-height: 17px;

  /* heading color */

  color: #3B3B3B;
}

.top-content .wallet .in-out-come .out-come .info {
  display: flex;
  flex-direction: column;

  justify-content: center;
}

.top-content .wallet .title {

  font-style: normal;
  font-weight: 700;
  font-size: 24.1852px;
  line-height: 31px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  /* identical to box height */


  /* heading color */

  color: #3B3B3B;


}

.top-content .wallet .total {
  display: flex;
  margin-bottom: 40px;


}

.top-content .wallet .total .total-net {
  display: flex;
  width: 188px;
  height: 50px;
  align-items: center;



}

.top-content .wallet .total .distance {
  margin-right: 76px;
}

.top-content .wallet .total .total-net .info .text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 2px;

  /* color 2 */

  color: #6F767E;
}

.top-content .wallet .total .total-net .info .price {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;

  /* color 1 */

  color: #000000;
}

.top-content .wallet .total .total-net .info {
  display: flex;
  flex-direction: column;

  justify-content: center;
}

.top-content .wallet .total .total-net .photo {
  margin-right: 15px;
}

.top-content .wallet .goals {
  display: flex;
}

.bottom-content {
  display: flex;


  height: 50%;
  width: 100%;

}

.bottom-content .status {
  margin-right: 140px;
}


.bottom-content .status .distance,
.bottom-content .status-3 .distance {
  margin-bottom: 20px;

}

.bottom-content .status .sub-distance {
  margin-bottom: 30px;

}

.bottom-content .status-3 .sub-distance {
  margin-bottom: 30px;

}

.bottom-content .status .gpu {

  display: flex;
  align-items: center;
  justify-content: space-between;

}


.bottom-content .status .cpu {

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottom-content .status .cpu .img {

  background: #FFF0E6;
  border-radius: 4.94448px;
  transform: matrix(1, 0.01, 0, 1, 0, 0);
  width: 55.38px;
  height: 55.38px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;

}

.bottom-content .status-3 .row {
  display: flex;
  align-items: center;
}

.bottom-content .status-3 .cont .row .column .sub-title {
  font-style: normal;
  font-weight: 400;
  font-size: 15.8223px;
  line-height: 24px;
  /* identical to box height, or 150% */


  /* Neutral / 1 */

  color: #343434;
}

.bottom-content .status-3 .cont .row .column .sub-sub-title {
  font-style: normal;
  font-weight: 400;
  font-size: 11.8668px;
  line-height: 16px;
  /* identical to box height, or 133% */


  /* Neutral / 3 */

  color: #989898;
}

.bottom-content .status-3 .cont .price {
  font-style: normal;
  font-weight: 400;
  font-size: 15.8223px;
  line-height: 24px;
  /* identical to box height, or 150% */

  text-align: right;

  /* Primary / 1 */

  color: #3629B7;

}

.bottom-content .status-3 .cont {
  display: flex;
  align-items: center;
  width: 325px;
  justify-content: space-between;
  border-bottom: 0.988896px solid #ECECEC;
  padding-bottom: 10px;


}

.bottom-content .status-3 .row .img {
  background: #FF4267;
  border-radius: 9.88896px;
  transform: matrix(1, 0.01, 0, 1, 0, 0);
  width: 39.56px;
  height: 39.56px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;

}

.bottom-content .status .cpu .background {
  width: 52.41px;
  height: 52.41px;
  left: 879.05px;
  top: 685.93px;
  box-shadow: 0px 98.8896px 79.1117px rgba(41, 72, 152, 0.05), 0px 64.0951px 46.3316px rgba(41, 72, 152, 0.037963), 0px 38.0908px 25.1985px rgba(41, 72, 152, 0.0303704), 0px 19.7779px 12.8556px rgba(41, 72, 152, 0.025), 0px 8.05767px 6.44614px rgba(41, 72, 152, 0.0196296), 0px 1.83129px 3.11319px rgba(41, 72, 152, 0.012037);
  border-radius: 17.8001px;

  background-color: #FEFEFF;
  transform: matrix(1, 0.01, 0, 1, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-content .status .gpu .img {
  background-color: #FFCC40;
  width: 63px;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 4.94448px 9.88896px 29.6669px rgba(255, 204, 64, 0.4);
  border-radius: 9.88896px;
  transform: matrix(1, 0.01, 0, 1, 0, 0);
  margin-right: 20px;

}

.bottom-content .status .cpu .sub-title {
  margin-right: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 19.7779px;
  line-height: 25px;

  color: #000000;

  opacity: 0.5;
  transform: matrix(1, 0.01, 0, 1, 0, 0);
}

.sub-title .background {
  display: flex;
  align-items: flex-end;
}

.bottom-content .status .cpu .row {
  display: flex;
  align-items: center;
}

.bottom-content .status .gpu .row {
  display: flex;
  align-items: center;
  margin-right: 20px;

}


.bottom-content .status .gpu .column .sub-title {
  font-style: normal;
  font-weight: 700;
  font-size: 13.8445px;
  line-height: 18px;
  /* identical to box height */


  /* praimary text */

  color: #343434;

  transform: matrix(1, 0.01, 0, 1, 0, 0);
}

.bottom-content .status .gpu .column .running {
  font-style: normal;
  font-weight: 500;
  font-size: 11.8668px;
  line-height: 15px;

  /* green */

  color: #3ECD7B;

  transform: matrix(1, 0.01, 0, 1, 0, 0);
}

.bottom-content .status .title,
.bottom-content .status-3 .title {
  font-style: normal;
  font-weight: 700;
  font-size: 24.1852px;
  line-height: 31px;

  color: #3B3B3B;

  transform: matrix(1, 0.01, 0, 1, 0, 0);
}




.bottom-content .status .on .arka {
  width: 23.52px;
  height: 14.47px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  background: #4F46BA;
  border-radius: 29.6669px;
  transform: matrix(1, 0.01, 0, 1, 0, 0);
}

.bottom-content .status .on .arka .circle {
  width: 15.68px;
  height: 15.68px;
  border-radius: 50%;
  background: #FFFFFF;
  box-shadow: 2.96669px 0.988896px 3.95558px rgba(0, 0, 0, 0.1);
  transform: matrix(1, 0.01, 0, 1, 0, 0);
}

.line-space {
  margin-bottom: 3px;
}